.App {
  text-align: center;
  background-color:cornsilk;
  height: 100%;
}

body{
  background-color:cornsilk;
}
.Accordion{
 /* border: '2px solid #008f68';*/
 border:none;
}
.AccordionSection{
 /* border: '1px solid #008f68';*/
  background-color: cornsilk;
  border-width:1px;
  border-style:solid;
  border-color:white;
  padding: '5px 10px';
  margin-top:5px;
  margin-bottom:5px;
  font-weight: bold;
}

.AccordionSection > div{
  text-align: left;
}

.AccordionSectionVisible{
  background:cornsilk;
 /* border-width: 2px;*/
  border-style: none;
/*  border-color: transparent;*/
  margin: 10px;
  padding: '10px 20px';
  font-weight: normal;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:chocolate;
}

.App-link {
  color: #61dafb;
}
.App-Header{
  text-align: left;

}
.App-Title{
  color: chocolate;
  font-weight: bold;
  font-size:x-large;

}
.Menu-Pager{
  background-color:cornsilk;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leftAlign{
  text-align: left;
}
table.fullBorderedTable{
  width:100%;
  border-style: solid;
}
table.fullBorderedTable.td{
  border-style: solid;
  border-width: 1px;
  border-left: 1px;
  
}


a{
  color:green;
  text-decoration: underline;
}
a:hover{
  color:chocolate;
}

.leftAlignAlways{
  text-align: left !important;
}